{% extends 'base.html' %}
{% block content %}

<aside>
    <a href="/bookings/new">
        <button class='new_button'>
            <img src='static/icons/create_black_24dp.svg' alt="create icon">
            Add New Booking
        </button>
    </a>
</aside>

<article>
    <table>
        <thead>
            <tr>
                <th>Customer Alias</th>
                <th>Session</th>
                <th>Date</th>
                <th>Time</th>
                <th>Remove Booking</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{booking.customer.alias}}</td>
                    <td>{{booking.session.name}}</td>
                    <td>{{booking.session.date}}</td>
                    <td>{{booking.session.start_time}}</td>
                    <td>
                        <form class='delete_button' action='/bookings/{{booking.id}}/delete' method='POST'>
                            <button type='submit'><img src='static/icons/clear_white_24dp.svg' alt="delete icon"></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% endblock  %}