{% extends 'base.html' %}
{% block content %}

<article>
    <form class='edit_form' action='/customers/{{customer.id}}' method='POST'>
        <div>
            <label for="forename">Forename</label>
            <br>
            <input type="text" id='forename' name='forename' value='{{ customer.forename }}' required>
        </div>
        <br>
        <div>
            <label for="surname">Surname</label>
            <br>
            <input type="text" id='surname' name='surname' value='{{ customer.surname }}' required>
        </div>
        <br>
        <div>
            <label for="membership_status">Membership Status</label>
            <br>
            <select name="membership_status" id="membership_status">
                {% for membership_status in membership_status_types %}
                    {% if membership_status == customer.membership_status %}
                        <option value="{{membership_status}}" selected='selected'>{{membership_status}}</option>
                    {% else %}
                        <option value="{{membership_status}}">{{membership_status}}</option>                    
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label for="membership_type">Membership Type</label>
            <br>
            <select name="membership_type" id="membership_type">
                {% for membership_type in membership_types %}
                    {% if membership_type == customer.membership_type %}
                        <option value="{{membership_type}}" selected='selected'>{{membership_type}}</option>
                    {% else %}
                        <option value="{{membership_type}}">{{membership_type}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <button class='submit_button' type='submit'>Update customer</button>
    </form>
</article>

{% endblock content %}