{% extends 'base.html' %}
{% block content %}

<h2>Customer Data</h2>

<aside>
    <button><a href="/customers/new">New Customer</a></button>
</aside>

<article>
    <table>
        <thead>
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Alias</th>
                <th>Additional Details</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.forename}}</td>
                <td>{{customer.surname}}</td>
                <td>{{customer.alias}}</td>
                <td><a href='/customers/{{ customer.id}}'>View Customer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
</article>
   
{% endblock  %}