{% extends 'base.html' %}
{% block content %}

<aside>
    <a href="/customers/new">
        <button class='new_button'>
            <img src='static/icons/create_black_24dp.svg' alt="create icon">
            Add New Customer
        </button>
        </a>
</aside>

<article>
    <table>
        <thead>
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Alias</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.forename}}</td>
                <td>{{customer.surname}}</td>
                <td>{{customer.alias}}</td>
                <td><a href='/customers/{{ customer.id}}'>
                    <button class='see_more_button'>
                        <img src='static/icons/arrow_forward_ios_black_24dp.svg' alt="forward arrow">
                    </button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
</article>
   
{% endblock  %}