{% extends 'base.html' %}
{% block content %}

<h1>This page will have a table of all the customers</h1>
<div>
    {% for customer in customers %}
        <p>
            {{customer.forename}}, {{customer.surname}}, {{customer.alias}}, {{customer.membership_status}}, {{customer.membership_type}}, 
            <a href='/customers/{{ customer.id}}'>View Customer</a>
        </p>
    {% endfor %}
    <p>
       <button><a href="/customers/new">New Customer</a></button>
    </p>
</div>
{% endblock  %}