{% extends 'base.html' %}
{% block content %}

<article>
    <form class='new_form' action='/customers' method='POST'>
        <div>
            <label for="forename">Forename</label>
            <br>
            <input type="text" id='forename' name='forename' placeholder='Forename' required>
        </div>
        <br>
        <div>
            <label for="surname">Surname</label>
            <br>
            <input type="text" id='surname' name='surname' placeholder='Surname' required>
        </div>
        <br>
        <div>
            <label for="alias">Preferred Alias</label>
            <br>
            <input type="text" id='alias' name='alias' placeholder='Preferred Alias' required>
        </div>
        <br>
        <div>
            <label for="membership_status">Membership Status</label>
            <br>
            <select name="membership_status" id="membership_status">
                <!-- {% for membership_type in  membership_types%}
                    <option value="{{membership_type}}">{{membership_type}}</option>
                {% endfor %} -->
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
        </div>
        <br>
        <div>
            <label for="membership_type">Membership Type</label>
            <br>
            <select name="membership_type" id="membership_type">
                <!-- {% for membership_type in membership_types%}
                    <option value="{{membership_type}}">{{membership_type}}</option>
                {% endfor %} -->
                <!-- This won't work till I throw the memberships into my controller.
                Which I currently can't find how to do, with where I have put the membership types in Customer class -->
                <option value="None">None</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
            </select>
        </div>
        <button class='submit_button' type='submit'>Add New Customer</button>
    </form>
</article>
{% endblock content %}