{% extends 'base.html' %}
{% block content %}
    <h1>This is the individual customer</h1>

    <h3>Name:</h3>
    <p>
        {{customer.forename}}, {{customer.surname}}, {{customer.alias}}, {{customer.membership_status}}, {{customer.membership_type}}
        <div>
        <button type="button"><a href="/customers/{{customer.id}}/edit">Edit Customer</a></button>
        </div>
        <br>
        <form class='delete_button' action='/customers/{{customer.id}}/delete' method='POST'>
            <button type='submit'>Remove Customer</button>
        </form>
    </p>
    <p>
        This page will display membership status and type, and any other details.
        <br>
        We will be able to access links to edit the customer on this page -> Edit details, Delete.
        <br>
        Could also add here any historical bookings. And the total monthly bookings etc
    </p>
{% endblock  %}


<p>
    <button type='button'><a href="/customers/{{customer.id}}/edit">Edit Event</a></button>
</p>

<form class='delete_button' action='/customers/{{customer.id}}/delete' method='POST'>
    <button type='submit'>Delete Session</button>