{% extends 'base.html' %}
{% block content %}

<article>
    <table>
        <caption><h2>Customer Details</h2></caption>
        <thead>
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Alias</th>
                <th>Membership Status</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{customer.forename}}</td>
                <td>{{customer.surname}}</td>
                <td>{{customer.alias}}</td>
                <td>{{customer.membership_status}}</td>
                <td>{{customer.membership_type}}</td>
            </tr>
        </tbody>
    </table>
</article>

<aside class='edit_button_aside'>
        <a href="/customers/{{customer.id}}/edit">
            <button type="button">
                Edit Customer
            </button>
        </a>
</aside>

<article>
    <table>
        <caption><h2>Current Sessions Booked</h2></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions_booked %}
        <tr>
            <td>{{session.name}}</td>
            <td>{{session.type}}</td>
            <td>{{session.date}}</td>
            <td>{{session.start_time}}</td>
            <td>{{session.end_time}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</article>

<aside>
    <form class='delete_button' action='/customers/{{customer.id}}/delete' method='POST'>
        <button type='submit'>
            Delete Customer
        </button>        
    </form>
</aside>

{% endblock  %}