body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background: url(../images/Background\ -\ Home.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    color: white;
}

header, footer{
    background-color:rgba(197, 197, 197, 0.7);
    width: 100%;
    display: inline-block;
}


.flex-container {
    /* background-color:rgba(197, 197, 197, 0.3); */
    background-color: grey;
    display:flex;
    flex-flow: column wrap;
}

table {
    /* border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    border-spacing: 5px; */
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2)

}

th {
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 10px 13px;
}

tr {
    border-bottom: 1px solid rgb(49, 49, 49);
}

tr:nth-of-type(even) {
    background-color:rgba(197, 197, 197);
    color: black;
}

tr:hover{
    background-color: white;
    color: blue;
}
/* Just need to fix the anchor tags, which are black and turn white */

h2{
    font-size: 25px;
}
.flex-container > h2 {
    text-align: center;
}
nav {
    font-size: 22px;
    float:right;
    margin-right: 5%;
    color: black;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    display: inline;
    padding: 1pc;
}

li > a {
    color: black;
}

a {
    text-decoration: none;
    /* color: black; */
    display: table-cell; 
        /* Prevents links separating onto two lines with smaller screen */
}
a:hover {
    color: white;
}
a:active{
    color:black;
}

footer {
    position: absolute;
    bottom: 0;
}

#gym_name {
    text-transform:uppercase;
    float: left;
    margin-left: 5%;
    letter-spacing: 12px;
}
