body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background: url(../images/Background\ -\ Home.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
}

header {
    background-color:rgba(197, 197, 197, 0.7);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

footer {
    background-color:rgba(197, 197, 197, 0.7);
    position:fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

footer > ul {
    display: flex;
    /* flex-direction: r */
    justify-content:space-between;
    padding: 0;
    margin: 0 5%;
}

.flex-container {
    background-color:rgba(197, 197, 197, 0.4);
    margin-top: 3px;
    padding: 0 5%;
    margin-bottom: 40px;
}

.flex-container > article {
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

aside {
    display:flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    font-size: 25px;
}
.flex-container > h2 {
    text-align: center;
}

header > nav {
    font-size: 22px;
    margin-right: 5%;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    display: inline;
    padding: 1pc;
}

li > a {
    color: black;
}

a {
    text-decoration: none;
    color: black;
    display: table-cell;
}
a:hover {
    color: white;
}

#gym_name {
    text-transform:uppercase;
    float: left;
    margin-left: 5%;
    letter-spacing: 12px;
}

.edit_form, .new_form {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 25px;
    flex-wrap:wrap;
}
label {
    margin-top: 5px;
}

input, select {
    margin-top: 8px;
    padding: 10px;
    width: auto;
    font-size: 20px;
    border: 1px solid black;
    background-color:rgb(218, 216, 216);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

input:hover, select:hover {
    color: blue;
    background-color: rgb(230, 228, 228);
}