button {
    width: auto;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
}

button:hover {
    border: 1px solid black;
    background-color: rgb(230, 228, 228);
    color: blue;
}
.new_button {
    background-color:rgba(197, 197, 197, 0.8);
}

/* The delete buttons on the bookings page */
form > button {
    background-color: rgba(200, 38, 38, 0.808);
    width: 50px;
    box-shadow: none;
}

.delete_button {
    display: flex;
    justify-content: center;
    align-items:center;
}

form > button:hover {
    background-color: red;
    border: 3px solid black;
}

.see_more_button {
    border: none;
    box-shadow: none;
    background: none;
}

.see_more_button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    border: none;
}
/* BUTTON CLASSES:
    edit_button
    new_button
    delete_button
    submit_button
    see_more_button
     */