button {
    width: auto;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color:rgba(197, 197, 197, 0.8);
}

button:hover {
    border: 1px solid black;
    background-color: rgb(240, 236, 236);
    color: blue;
}

button:active{
    background-color:white;
}

/* Delete button form on the Bookings index page */
.delete_button_form {
    display: flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 5%;
    background-color: rgba(200, 38, 38, 0.808);
    width: auto;
    box-shadow: none;
    color: white;
}

/* .delete_button_form > button{
    background-color: rgba(200, 38, 38, 0.808);
    width: auto;
    box-shadow: none;
    color: white; 
/} */

.delete_button > button {
    background-color: rgba(200, 38, 38, 0.808);
    width: auto;
    box-shadow: none;
    color: white;

} 

.delete_button > button:hover {
    background-color: red;
    border: 3px solid black;
    color: black;
}

.see_more_button {
    border: none;
    box-shadow: none;
    background: none;
}

.see_more_button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    border: none;
}

.edit_button_aside{
    margin: 0;
    padding: 0;
    display: flex;
}

.submit_button{
    margin-top: 15%;
}
/* BUTTON CLASSES:
    new_button
    delete_button
    submit_button
    see_more_button
     */