{% extends 'base.html' %}
{% block content %}

<article>
<section class='diagram_container'>
    <div class='diagram'>
        <h2>Class Diagrams</h2>
        <a target="_blank" href="static/images/class_object_diagrams.png">
            <img class='diagram_img'  src="static/images/class_object_diagrams.png" alt="Class diagram">
          </a>
    </div>
 
    <div class='diagram'>
        <h2>Database Diagrams</h2>
        <a target="_blank" href="static/images/database_diagrams.png">
            <img class='diagram_img'  src="static/images/database_diagrams.png" alt="File structure diagram">
          </a>
    </div>
</section>
<section class='diagram_container'>
    <div class='diagram'>
        <h2>Site Map</h2>
        <a target="_blank" href="static/images/site_map.png">
            <img class='diagram_img'  src="static/images/site_map.png" alt="File structure diagram">
          </a>
    </div>
   
    <div class='diagram'>
        <h2>File Structure</h2>
        <a target="_blank" href="static/images/file_structure.png">
            <img class='diagram_img'  src="static/images/file_structure.png" alt="File structure diagram">
          </a>
    </div>

</section>
</article>
{% endblock %}