<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_buttons.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Resistance Temple - {{title}}</title>
</head>
<body>
    <header>
        <section id='gym_name'>
            <h1>Resistance Temple
                <span class="material-icons">&#xEB43;</span>
            </h1>
        </section>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/customers">Customer Data</a>
                </li>
                <li>
                    <a href="/sessions">Training Sessions</a>
                </li>
                <li>
                    <a href="/bookings">Bookings</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class='flex-container'>
        {% block content %}
        
        {% endblock content %}
    </main>

   <footer>
        <ul>
            <li><a href="">Site Map</a></li>
            <li><a href="">Support</a></li>
        </ul> 
   </footer>

</body>
</html>